@import "bootswatch/dist/cosmo/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/cosmo/bootswatch";

body {
  font-family: "Nunito Variable", sans-serif;
}

.hide-dropdown-caret::after {
  display: none;
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tbody tr:last-of-type td {
  border-bottom-width: 0;
}
